@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1a227f;
  /* Paleta Light */
  --color-background-light: #f6f6f8;
  /* Paleta Dark (Ajustada para mejor legibilidad) */
  --color-background-dark: #121320;
  --color-surface-dark: #1e1f35; /* Para el fondo de las tarjetas en modo oscuro */
  
  --font-display: "Inter", sans-serif;
}

@layer base {
  /* Transición suave para todos los cambios de tema */
  *, *::before, *::after {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  body {
    background-color: var(--color-background-light);
    color: #0f101a;
  }

  /* Cuando el html tenga la clase 'dark', el body cambia solo */
  .dark body {
    background-color: var(--color-background-dark);
    color: #f6f6f8;
  }
}